<div class="container">

<table id="customers">
  <tr>
    <th>Name</th>
    <th>Orginization/Chapter</th>
    <th>Occupation</th>
    <th>Major</th>
    <th>Industry</th>
    <th>Location</th>
    <th>Industries I can Help with</th>
    <th>Can I Hire?</th>
    <th>Willing to Mentor</th>
    <th>Contact</th>
  </tr>
  
    <tr *ngFor="let network of networks">
    <td>{{network.name}}</td>
    <td>{{network.orginization}}</td>
    <td> {{network.occupation}}</td>
    <td> {{network.major}}</td>
    <td>{{network.industry}}</td>
    <td> {{network.location}}</td>
    <td> {{network.industriesICanHelp }}</td>
    <td> {{network.willingToMentor}}</td>
    <td> {{network.willingToMentor}}</td>
    <td>X</td>
  </tr>


</table>

</div>
