<div class="container">

<table id="customers">
  <tr>
    <th>Name</th>
    <th>Orginization/Chapter</th>
    <th>Occupation</th>
    <th>Major</th>
    <th>Industry</th>
    <th>Location</th>
    <th>Industries I can Help with</th>
    <th>Can I Hire?</th>
    <th>Willing to Mentor</th>
    <th>Contact</th>
  </tr>
  <tr>
    <td>Brian Jenkins</td>
    <td>Phi Beta Sigma / Iota Rho</td>
    <td>Event Planner</td>
    <td>Event Planning</td>
    <td>Events</td>
    <td>Germany</td>
    <td>None</td>
    <td>No</td>
    <td>Yes</td>
    <td>X</td>
  </tr>
  <tr>
    <td>Matthew Shaw</td>
    <td>Phi Beta Sigma / Iota Rho</td>
    <td>Business Owner</td>
    <td>Business Management/td>
    <td>Marketing</td>
    <td>Orlando, FL</td>
    <td>Writing (wife)</td>
    <td>Yes</td>
    <td>Yes</td>
    <td>X</td>
  </tr>


</table>

</div>
