

<app-edit-profile *ngIf="editProfile"></app-edit-profile>

<div class="container" *ngIf="!editProfile">
    <button class="btn btn-primary" (click)="onSelectProfile('update')">Update Profile</button>

  <h1 style="text-align: center;">Bill Gates</h1>
  <div style="text-align: center;">
      <img src="../assets/images/handshake.jpeg" alt="260x180" style="width: 260px; height: 180px;">
  </div>
  <table style="width:100%">

    <tr>
      <th width="20%">Name:</th>
      <td width="80%">{{currentProfile.name}}</td>
    </tr>
    <tr>
      <th>Telephone:</th>
      <td>5{{currentProfile.telephone}}</td>
    </tr>
    <tr>
      <th>Email:</th>
      <td>{{currentProfile.email}}</td>
    </tr>
    <tr>
      <th>Orginization:</th>
      <td>{{currentProfile.orginization}}</td>
    </tr>
    <tr>
      <th>Chapter:</th>
      <td>{{currentProfile.chapter}}</td>
    </tr>
    <tr>
      <th>Current Occupation:</th>
      <td>{{currentProfile.occupation}}</td>
    </tr>
    <tr>
      <th>Industry:</th>
      <td>{{currentProfile.industry}}</td>
    </tr>
    <tr>
      <th>Location:</th>
      <td>{{currentProfile.location}}</td>
    </tr>
    <tr>
        <th>Can I hire:</th>
        <td >Yes</td>
      </tr>
      <tr>
        <th>People I know That can hire:</th>
        <td>{{currentProfile.whoiknow}}</td>
      </tr>
      <tr>
        <th>Do I know about raising money:</th>
        <td>no</td>
      </tr>
      <tr>
          <th>Business</th>
          <td>{{currentProfile.businessname}}</td>
      </tr>
      <tr>
        <th>Company Website</th>
        <td>{{currentProfile.businesswebsite}}</td>
      </tr>
      <tr>
        <th>Company Desctiption</th>
        <td>{{currentProfile.businessdescription}}</td>
      </tr>
      <tr>
        <th>More info:</th>
        <td>{{currentProfile.info}}</td>
      </tr>
  </table>


</div>