<div class="container">

  <h1 style="text-align: center;">Bill Gates</h1>
  <div style="text-align: center;">
      <img src="../assets/images/handshake.jpeg" alt="260x180" style="width: 260px; height: 180px;">
  </div>
  <table style="width:100%">

    <tr>
      <th width="20%">Name:</th>
      <td width="80%">Bill Gates</td>
    </tr>
    <tr>
      <th>Telephone:</th>
      <td>55577854</td>
    </tr>
    <tr>
      <th>Email:</th>
      <td>test@aol.com</td>
    </tr>
    <tr>
      <th>Orginization:</th>
      <td>Phi Beta Sigma</td>
    </tr>
    <tr>
      <th>Chapter:</th>
      <td>Iota Rho</td>
    </tr>
    <tr>
      <th>Current Occupation:</th>
      <td>Web Developer</td>
    </tr>
    <tr>
      <th>Industry:</th>
      <td>Web Development</td>
    </tr>
    <tr>
      <th>Location:</th>
      <td>Orlando</td>
    </tr>
    <tr>
        <th>Can I hire:</th>
        <td >Yes</td>
      </tr>
      <tr>
        <th>People I know That can hire:</th>
        <td>Spouse</td>
      </tr>
      <tr>
        <th>Do I know about raising money:</th>
        <td>no</td>
      </tr>
      <tr>
        <th>Orginization:</th>
        <td>Phi Beta Sigma</td>
      </tr>
      <tr>
        <th>Chapter:</th>
        <td>Iota Rho</td>
      </tr>
      <tr>
        <th>Current Occupation:</th>
        <td>Web Developer</td>
      </tr>
      <tr>
          <th>Business</th>
          <td>My Company</td>
      </tr>
      <tr>
        <th>Company Website</th>
        <td>www.mycompany.com</td>
      </tr>
      <tr>
        <th>More info:</th>
        <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</td>
      </tr>
  </table>


</div>