<div class="container">
    
    <form>
        <!-- TEXT FIELD GROUPS -->
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" id="name" placeholder="Enter name">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input class="form-control form-control-lg" type="email" id="email" placeholder="Enter email">
            <small class="form-text text-muted">Your email will not ever be shared</small>
        </div>
        <div class="form-group">
            <label for="telephone">Telephone Number</label>
            <input class="form-control form-control-sm" type="text" id="telephone" placeholder="xxx-xxx-xxxx">
        </div>
        <div class="form-group">
            <label for="orginization">Orginization</label>
            <select class="form-control" id="orginization">
                <option>Phi Beta Sigma</option>
                <option>Zeta Phi Beta</option>
            </select>
        </div>
        <div class="form-group">
            <label for="chapter">Chapter Pledged</label>
            <select class="form-control" id="chapter">
                <option>Iota Rho</option>
                <option>Gamma Delta Sigma</option>
                <option>Sigma Epsilon</option>
                <option>Epsilong Zeta</option>
            </select>
        </div>
        <div class="form-group">
            <label for="occupation">Current Occupation</label>
            <input class="form-control" type="text" id="occupation" placeholder="Current Job">
        </div>
        <div class="form-group">
            <label for="industry">Industry</label>
            <input class="form-control" type="text" id="industry" placeholder="Industry">
        </div>
        <div class="form-group">
            <label for="location">Location</label>
            <input class="form-control" type="text" id="location" placeholder="Location">
        </div>
        <div class="form-group">
            <label for="hiringPower">Can I Hire</label>
            <select class="form-control" id="hiringPower">
                <option>Yes</option>
                <option>No</option>
            </select>
        </div>
        <div class="form-group">
            <label for="whoIKnow">Who Do I know that can hire?</label>
            <input class="form-control" type="text" id="whoIKnow" placeholder="Who do you know">
        </div>
        <div class="form-group">
            <label for="raisingMoneyr">Do I Know About Raising Money?</label>
            <select class="form-control" id="raisingMoney">
                <option>Yes</option>
                <option>No</option>
            </select>
        </div>
        <div class="form-group">
            <label for="business">Do you have a Business?</label>
            <input class="form-control" type="text" id="business" placeholder="Business Name">
        </div>
        <div class="form-group">
            <label for="businessDescription">Business Description</label>
            <input class="form-control" type="text" id="businessDescription" placeholder="Business Description">
        </div>
        <div class="form-group">
            <label for="businessWebsite">Business Website</label>
            <input class="form-control" type="text" id="businessWebsite" placeholder="www.mybusiness.com">
        </div>
    
        <!-- TEXTAREA -->
        <div class="form-group">
            <label for="message">Info</label>
            <textarea class="form-control" id="message" rows="5"></textarea>
        </div>
        <!-- FILE INPUT -->
        <div class="form-group">
            <label for="file">Profile Picture</label>
            <input type="file" id="file" class="form-control-file">
            <small class="form-text text-muted" id="fileHelp">Max 3mb size</small>
        </div> 

        <button class="btn btn-primary btn-block" type="submit">Submit</button>
    </form>
</div>